body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#TopContainer {
    display: flex;
    position: relative;
}

#TitleContainer {
    padding-left: 30px;
    width: 90%;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

#MenuContainer {
    width: 10%;
    background-color: black;
    color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.Hamburger div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: ease 0.3s;
}

.Hamburger:hover div {
    background-color: gray;
}

#MainContainer {
    width: 100%;
    height: 1000px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 60px;
    position: relative;
    overflow: hidden;
}

.ItemContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: ease 0.2s;
    margin-top: 10%;
    z-index: 3;
}

.ItemContainer.visible {
    visibility: visible;
    opacity: 1;
}

.ItemContainer div {
    margin-bottom: 10px;
}

.ItemContainer a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.4s;
    border-radius: 4px;
    padding: 4px;
}

.ItemContainer a:hover{
    color: black;
    background-color: aqua;
}

#MainContainer h2 {
    color: white;
    font-size: 44px;
    display: grid;
    place-items: center;
    z-index: 2;
}

#TitleText {
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
    z-index: 1;
}